button.primary-button {
    color:   #008cff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button.primary-button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.success-message {
    text-align: center;
    padding: 2rem 1rem;
}

.success-message h2 {
    color: #28a745;
    margin-bottom: 1rem;
}

.success-message button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

h2 {
    font-size: 32px; /* Larger font size */
    font-weight: bold; /* Make it bold */
    color: #333; /* Dark color for better contrast */
    margin-bottom: 20px; /* Add some space below the header */
    text-align: center; /* Center the header */
}
